.summary-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 700px;
}

.summary-card {
  flex: 1;
  background-color: #F3F0EB;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary-card h4 {
  margin-bottom: 0.5rem;
  color: #737271;
}

.summary-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #010101;
}

.expense {
  border-top: 5px solid #C9A043;
}

.sales {
  border-top: 5px solid #4caf50;
}
